
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


 p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5cc52c;
    padding: 2rem;
  }
 
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
  }
 
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
 
  .navbar-links li {
    margin: 0;
  }
 
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
 
  .navbar-links a:hover {
    text-decoration: underline;
  }
 img{
  width: 120%;
 }
 .cor{
  color: red;
 }